@model IEnumerable<WebApplication6.Models.Winner>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_MyDashboard.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContestPost.Recipe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContestPost.Recipe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WinnerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WinnerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WinnerId })
        </td>
    </tr>
}

</table>
